<div class="slide fp-auto-height-responsive" id="slide2-light" data-anchor="slide2-light"> 

		<div class="row align-items-center">
			
   				<div class="center hidden">
					<h5><u>About</u></h5>
		    	</div>
    	</div>
    		
    		
				<div class="center hidden padding-mobile-bottom">
						<div class="about-block zoomx2">
						<h4 class="center"><u>Full Service Custom Website & Web App Development</u></h4>
						<p class="about-text-padding">
								As a full service web developer, making your wbesite perfect from inception launch is what matters most.
								I have two years experience in custom web development, digital marketing, & SEO, and offer the following services:
								
									<li><strong>Full service website development</strong></li>
									<li><strong>SEO Optimization & Digital Marketing Consulting</strong></li>
									<li><strong>Front-end webiste redesign</strong></li>
								
						</p>
					</div>
		    	</div>
				
					
	
    		
		<div class="row hidden">
					
			<div class="col-sm-3 col-md-offset-1-and-half">	
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide1-light">Home</a>
					&nbsp;
					<%= image_tag('arrow-left.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#secondPage">Contact</a>
					&nbsp;
					<%= image_tag('arrow-down.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide3-light">Pricing</a>
					&nbsp;
					<%= image_tag('arrow-right.png') %>
				</div>
			</div>
						
		</div>	

</div>

