<div class="slide" id="slide2-light" data-anchor="slide2-light"> 
		
		<div class="row align-items-center">
			<div class="col-md-2">
			
			<div class="section-left">
				<div class="bottom-block">
					<div class="logo-sides center hidden">
						<a href="#firstPage/slide1-light">Home</a>
					</div>
				</div>
			</div>
			
			</div>
			
    		<div class="col-md-8">
   				<div class="center hidden">
					<h1 class="center light"><u>About</u></h1>
						<div class="about-block zoom">
						<h4 class="center"><u>Full Service Custom Website & Web App Development</u></h4>
						<p class="about-text-padding">
								As a full service web developer, making your wbesite perfect from inception launch is what matters most.
								I have two years experience in custom web development, digital marketing, & SEO, and offer the following services:
								
									<li><strong>Full service website development</strong></li>
									<li><strong>SEO Optimization & Digital Marketing Consulting</strong></li>
									<li><strong>Front-end webiste redesign</strong></li>
								
						</p>
					</div>
		    	</div>
    		</div>
    		
    		<div class="col-md-2">
    			
    		<div class="section-right">
    			<div class="bottom-block">
					<div class="logo-sides center hidden">
						<a href="#firstPage/slide3-light">Pricing</a>
					</div>
				</div>
			</div>
			
    		</div>
    		
		</div>
		
			<div class="bottom">
				<div class="center hidden">
					<div class="bottom-block">
						<div class="logo-sides">	
							<a href="#secondPage">Contact</a>
						</div>
					</div>
				</div>
			</div>
</div>