<div class="slide" id="section1" data-anchor="slide1"> 
		
		<div class="row align-items-center">
			<div class="col-md-2">
			
			<div class="section-left">
				<div class="logo-sides center hidden">
					<a href="#firstPage/slide3">Pricing</a>
				</div>
			</div>
			
			</div>
			
    		<div class="col-md-8">
   				<div class="center hidden">
					<h1>Christian O'Rourke</h1>
					<h1>Custom Web Development</h1>
					<div><%= image_tag('arrow-keys.png') %></div>
					<div>
						<button id="light_button" class="btn-primary"><%= link_to "light", homelight_url %></button>
					</div>
					<div class="logo-small center">
						(Use your arrow keys for navigation)
					</div>
		    	</div>
    		</div>
    		
    		<div class="col-md-2">
    			
    		<div class="section-right">
				<div class="logo-sides center hidden">
					<a href="#firstPage/slide2">About</a>
				</div>
			</div>
			
    		</div>
    		
		</div>
		
	
	
		<div class="bottom">
			<div class="center hidden">
				<div class="bottom-block">
					<div class="logo-sides">
						<a href="#secondPage">Contact</a>
					</div>
				</div>	
			</div>
		</div>
	
</div>