<div class="slide" id="section1-light" data-anchor="slide1-light"> 
		
		
		<div class="row align-items-center">
			
   				<div class="center hidden">
					<h5 class="light-text">Christian O'Rourke</h5>
					<h5 class="light-text">Custom Web Development</h5>
					
					
					<div><%= image_tag('swipe.png') %></div>
					<div class="logo-small-mobile center light-text">
						(Swipe for navigation, Tap text boxes to zoom)
					</div>
					<div>
						<button id="dark_button" class="btn-primary btn-lg"><%= link_to "dark", homedark_url %></button>
					</div>
					
		    	</div>
    	</div>
		
		
	<div class="row">
					
			<div class="col-sm-3 col-md-offset-1-and-half">	
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide3-light">Pricing</a>
					&nbsp;
					<%= image_tag('arrow-left.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#secondPage">Contact</a>
					&nbsp;
					<%= image_tag('arrow-down.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide2-light">About</a>
					&nbsp;
					<%= image_tag('arrow-right.png') %>
				</div>
			</div>
						
		</div>	
			
</div>