<div class="slide" id="section1-light" data-anchor="slide1-light"> 
		
		<div class="row align-items-center">
			<div class="col-md-2">
			
			<div class="section-left">
				<div class="logo-sides center hidden">
					<a href="#firstPage/slide3-light" class="light-text">Pricing</a>
				</div>
			</div>
			
			</div>
			
    		<div class="col-md-8">
   				<div class="center hidden">
					<h1 class="light-text">Christian O'Rourke</h1>
					<h1 class="light-text">Custom Web Development</h1>
					<div><%= image_tag('arrow-keys.png') %></div>
					<div>
						<button id="dark_button" class="btn-primary"><%= link_to "dark", homedark_url %></button>
					</div>
					<div class="logo-small center light-text">
						(Use your arrow keys for navigation)
					</div>
		    	</div>
    		</div>
    		
    		<div class="col-md-2">
    			
    		<div class="section-right">
				<div class="logo-sides center hidden">
					<a href="#firstPage/slide2-light" class="light-text">About</a>
				</div>
			</div>
			
    		</div>
    		
		</div>
		
		
		<div class="bottom">
			<div class="center hidden">
				<div class="bottom-block">
					<div class="logo-sides">	
						<a href="#secondPage" class="light-text">Contact</a>
					</div>
				</div>
			</div>
		</div>
			
</div>