<div class="slide fp-auto-height-responsive" id="section1" data-anchor="slide1"> 

		<div class="row align-items-center">
			
   				<div class="center hidden">
					<h5>Christian O'Rourke</h5>
					<h5>Custom Web Development</h5>
					
					
					<div><%= image_tag('swipe.png') %></div>
					<div class="logo-small-mobile center">
						(Swipe for navigation, Tap text boxes to zoom)
					</div>
					<div>
						<button id="light_button" class="btn-primary btn-lg"><%= link_to "light", homelight_url %></button>
					</div>
		    	</div>
    	</div>
    		
		<div class="row">
					
			<div class="col-sm-3 col-md-offset-1-and-half">	
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide3">Pricing</a>
					&nbsp;
					<%= image_tag('arrow-left.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#secondPage">Contact</a>
					&nbsp;
					<%= image_tag('arrow-down.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide2">About</a>
					&nbsp;
					<%= image_tag('arrow-right.png') %>
				</div>
			</div>
						
		</div>	

</div>