<div class="slide fp-auto-height-responsive" id="slide3-light" data-anchor="slide3-light"> 

		<div class="row align-items-center">
			
   				<div class="center hidden">
					<h5><u>Pricing</u></h5>
		    	</div>
    	</div>
    		
    		

  			

				
					<div class="pricing-box-mobile zoom">
								
								<h4 class="center mobile-text-xlg"><u>Landing Pages</u></h4>
								<ul>
									<li>
										<p class="mobile-text-lg">Custom Landing Page/Mobile Page</p>
									</li>
									<li>
										<p class="mobile-text-lg">SEO Optimization</p>
									</li>
									<li>
										<p class="mobile-text-lg">Basic Social Media Integration</p>
									</li>
								</ul>
								<h4 class="center mobile-text-xlg">Base rate: $300/page</h4></p>
							
						</div>
				
						<div class="padding-box"></div>
				
						<div class="pricing-box-mobile zoom">
									
								<h4 class="center mobile-text-xlg"><u>Multi-Page Websites</u></h4>
								<ul>
									<li>
										<p class="mobile-text-lg">Custom Landing Page/Mobile Pages</p>
									</li>
									<li>
										<p class="mobile-text-lg">SEO Optimization</p>
									</li>
									<li>
										<p class="mobile-text-lg">Custom Social Media Integration</p>
									</li>
								</ul>
								<h4 class="center mobile-text-xlg">Base rate: $300 + $100/page</h4>

						</div>
						
						<div class="padding-box"></div>
				
						<div class="pricing-box-mobile zoom">
								
								<h4 class="center mobile-text-xlg"><u>Multi-Page Blog Websites</u></h4>
								<ul>
									<li>
										<p class="mobile-text-lg">Custom Landing Page/Mobile Pages</p>
									</li>
									<li>
										<p class="mobile-text-lg">Custom Blog & CMS Integration</p>
									</li>
									<li>
										<p class="mobile-text-lg">Custom Social Media Integration</p>
									</li>
									<li>
										<p class="mobile-text-lg">SEO Optimization</p>
									</li>
								</ul>
								<h4 class="center mobile-text-xlg">Base rate: $1200 + $100/page</h4>
								
						</div>
	

    		
    		
		<div class="row">
					
			<div class="col-sm-3 col-md-offset-1-and-half">	
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide2-light">About</a>
					&nbsp;
					<%= image_tag('arrow-left.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#secondPage">Contact</a>
					&nbsp;
					<%= image_tag('arrow-down.png') %>
				</div>
			</div>
						
			<div class="col-sm-3">
				<div class="logo-sides-mobile center hidden">
					<a href="#firstPage/slide1-light">Home</a>
					&nbsp;
					<%= image_tag('arrow-right.png') %>
				</div>
			</div>
						
		</div>	

</div>

