<div class="slide" id="slide3" data-anchor="slide3"> 
		
		<div class="row align-items-center">
			<div class="col-md-2">
			
			<div class="section-left">
				<div class="bottom-block">
					<div class="logo-sides center hidden">
						<a href="#firstPage/slide2">About</a>
					</div>
				</div>
			</div>
			
			</div>
			
    		<div class="col-md-8">
   				<div class="hidden">
					<h1 class="center"><u>Pricing</u></h1>
					
					
					<div class="container">
						
						<div class="col-md-2 col-md-offset-1-and-half">
							<div class="pricing-box zoom">
								
								<h4 class="center"><u>Landing Pages</u></h4>
								<ul>
									<li>
										Custom Landing Page/Mobile Page
									</li>
									<li>
										SEO Optimization
									</li>
									<li>
										Basic Social Media Integration
									</li>
								</ul>
								<h4 class="center">Base rate: $300/page</h4>
							
							</div>
						</div>
					
					
						<div class="col-md-2">
							<div class="pricing-box zoom">
								
								
								<h4 class="center"><u>Multi-Page Websites</u></h4>
								<ul>
									<li>
										Custom Landing Page/Mobile Pages
									</li>
									<li>
										SEO Optimization
									</li>
									<li>
										Custom Social Media Integration
									</li>
								</ul>
								<h4 class="center">Base rate: $300 + $100/page</h4>
								
							</div>
						</div>
						
						<div class="col-md-2">
							<div class="pricing-box zoom">
								
								
								<h4 class="center"><u>Multi-Page Blog Websites</u></h4>
								<ul>
									<li>
										Custom Landing Page/Mobile Pages
									</li>
									<li>
										Custom Blog & CMS Integration
									</li>
									<li>
										Custom Social Media Integration
									</li>
									<li>
										SEO Optimization
									</li>
								</ul>
								<h4 class="center">Base rate: $1200 + $100/page</h4>
								
							</div>
						</div>
					</div>	
					
					
		    	</div>
    		</div>
    		
    		<div class="col-md-2">
    			
    		<div class="section-right">
    			<div class="bottom-block">
					<div class="logo-sides center hidden">
						<a href="#firstPage/slide1">Home</a>
					</div>
				</div>
			</div>
			
    		</div>
    		
		</div>
	<div class="bottom">
			<div class="center hidden">
				<div class="bottom-block">
					<div class="logo-sides">	
						<a href="#secondPage">Contact</a>
					</div>
				</div>
			</div>
		</div>
</div>