<% provide(:title, "Dark") %>

<div id="fullpage" class="fp-auto-height-responsive">
	
	<div class="preloader"><span class="preloader-gif"></span></div>
		
	<div class="section" data-anchor="firstPage">
	
		<%= render 'homeslide' %>
		
		<%= render 'aboutslide' %>
		
		<%= render 'pricingslide' %>
	</div>
	
	<div class="section" id="slide1" data-anchor="secondPage">
		
		<%= render 'contactslide' %>
	
	</div>

</div>
	
	




