<% provide(:title, "Light") %>

<div id="fullpage" class="fp-auto-height-responsive">
	
	<div class="preloader"><span class="preloader-gif"></span></div>
	
	<div class="section" data-anchor="firstPage">
		
		<%= render 'homeslide-light' %>
		
		<%= render 'aboutslide-light' %>
		
		<%= render 'pricingslide-light' %>
		
	</div>
	
	<div class="section" id="slide1" data-anchor="secondPage">
		
		<%= render 'contactslide-light' %>
	
	</div>
	
</div>