<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<%= render 'shared/preloader' %>
	
	<h1 class="glitch center" data-text="Portfolio">Portfolio</h1>
	&nbsp;
	<div class="center side-padding">
	    <p class="portfolio-logo">Full Service Web Development:</p>
	    
	    <div class="row">
	    	<div class="col-md-2"></div>
	    	
	        <div class="col-md-4">
	            <a href="https://www.moonhalf.com/">
	                <%= image_tag('MoonHalf.png', class: 'portfolio-box') %>
	                <p class="portfolio-text">Moonhalf.com</p>
	            </a>
	        </div>
	        
	        <div class="col-md-4">
	            <a href="https://www.countmingya.com/">
	                <%= image_tag('CountMingya.png', class: 'portfolio-box') %>
	                <p class="portfolio-text">CountMingya.com</p>
	            </a>
	        </div>
	        
	        <div class="col-md-2"></div>
	    </div>   
	       
	    <div class="row">
	    	<div class="col-md-2"></div>
	    	
	        <div class="col-md-4">
	            <a href="http://www.emmacate8.com/">
	                <%= image_tag('EmmaCate8.png', class: 'portfolio-box') %>
	                <p class="portfolio-text">EmmaCate8.com</p>
	            </a>
	        </div>
	        
	        <div class="col-md-4">
	        	<a href="https://www.skylinejourney.com/">
	                 <%= image_tag('SkylineJourney.png', class: 'portfolio-box') %>
	                 <p class="portfolio-text portfolio-padding">SkylineJourney.com</p>
	             </a>
	        </div>
	        
	        <div class="col-md-2"></div>
	    </div>
	    
	    <div class="row">
	        	<div class="col-md-4"></div>
	        	
	        	<div class="col-md-4">
	        		<a href="https://www.memeilluminati.com/">
	                 	<%= image_tag('memeilluminati.png', class: 'portfolio-box preset-file6') %>
	                 	<p class="portfolio-text portfolio-padding">MemeIlluminati.com</p>
	             	</a>
	        	</div>
	        	
	        	<div class="col-md-4"></div>
	        </div>
	        
	    <p class="portfolio-logo">Front-end Redesign:</p>
	    	<a href="https://www.tellus360.com/">
	        	<%= image_tag('Tellus360.png', class: 'portfolio-box') %>
	        	<p class="portfolio-text portfolio-padding">Tellus360.com</p>
	    	</a>
	    
	    <p class="portfolio-logo">Git/Ongoing Projects:</p>
	    <a href="https://bitbucket.org/corourke24/"><p class="portfolio-text portfolio-padding">Bit Bucket</p></a>
	    
	    <a href="/"><h1 class="glitch" data-text="Home">Home</h1></a>
	</div>
</meta>
