<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<%= render 'shared/preloader' %>
	
	<h1 class="glitch center" data-text="Portfolio">Portfolio</h1>
	&nbsp;
	<div class="center side-padding">
	    <p class="portfolio-logo">Full Service Web Development:</p>
	    
	    <div class="row">
	    	<div class="col-md-2"></div>
	    	
	        <div class="col-md-4">
	        	<div class="gifs-rows1">
	            
	            <a href="https://www.moonhalf.com/">
	                <%= image_tag('MoonHalf.png', class: 'portfolio-box preset-file') %>
	                <%= image_tag('moonhalf.gif', class: 'portfolio-box gif-file') %>
	                <p class="portfolio-text">Moonhalf.com</p>
	            </a>
	            
	            </div>
	        </div>
	        
	        <div class="col-md-4">
	        	<div class="gifs-rows2">
	        		
	            <a href="https://www.countmingya.com/">
	                <%= image_tag('CountMingya.png', class: 'portfolio-box preset-file2') %>
	                <%= image_tag('countmingya.gif', class: 'portfolio-box gif-file2') %>
	                <p class="portfolio-text">CountMingya.com</p>
	            </a>
	            
	            </div>
	        </div>
	        
	        <div class="col-md-2"></div>
	    </div>   
	       
	    <div class="row">
	    	<div class="col-md-2"></div>
	    	
	        <div class="col-md-4">
	        	<div class="gifs-rows3">
	        		
	            <a href="http://www.emmacate8.com/">
	                <%= image_tag('EmmaCate8.png', class: 'portfolio-box preset-file3') %>
	                <%= image_tag('emmacate8.gif', class: 'portfolio-box gif-file3') %>
	                <p class="portfolio-text">EmmaCate8.com</p>
	            </a>
	            
	            </div>
	        </div>
	        
	        <div class="col-md-4">
	        	<div class="gifs-rows4">
	        		
	        	<a href="https://www.skylinejourney.com/">
	                 <%= image_tag('SkylineJourney.png', class: 'portfolio-box preset-file4') %>
	                 <%= image_tag('skylinejourney.gif', class: 'portfolio-box gif-file4') %>
	                 <p class="portfolio-text portfolio-padding">SkylineJourney.com</p>
	             </a>
	             
	             </div>
	        </div>
	        
	        <div class="col-md-2"></div>
	        
	        <div class="row">
	        	<div class="col-md-4"></div>
	        	
	        	<div class="col-md-4">
	        		<div class="gifs-rows6">
	        			
	        			<a href="https://www.memeilluminati.com/">
	                 		<%= image_tag('memeilluminati.png', class: 'portfolio-box preset-file6') %>
	                 		<%= image_tag('memeilluminati.gif', class: 'portfolio-box gif-file6') %>
	                 		<p class="portfolio-text portfolio-padding">MemeIlluminati.com</p>
	             		</a>
	             
	             	</div>
	        	</div>
	        	
	        	<div class="col-md-4"></div>
	        </div>
	    </div>
	    
	    <p class="portfolio-logo">Front-end Redesign:</p>
	    <div class="gifs-rows5">
	    	<a href="https://www.tellus360.com/">
	        	<%= image_tag('Tellus360.png', class: 'portfolio-box preset-file5') %>
	        	<%= image_tag('tellus360.gif', class: 'portfolio-box gif-file5') %>
	        	<p class="portfolio-text portfolio-padding">Tellus360.com</p>
	    	</a>
	    </div>
	    
	    <p class="portfolio-logo">Git/Ongoing Projects:</p>
	    <a href="https://bitbucket.org/corourke24/"><p class="portfolio-text portfolio-padding">Bit Bucket</p></a>
	    
	    <a href="/"><h1 class="glitch" data-text="Home">Home</h1></a>
	</div>
</meta>

<script>
	$('img', '.gifs-rows1').hover(function() {
  		$('.preset-file').toggle();
  		$('.gif-file').toggle();
	});
	
	$('img', '.gifs-rows2').hover(function() {
  		$('.preset-file2').toggle();
  		$('.gif-file2').toggle();
	});
	
	$('img', '.gifs-rows3').hover(function() {
  		$('.preset-file3').toggle();
  		$('.gif-file3').toggle();
	});
	
	$('img', '.gifs-rows4').hover(function() {
  		$('.preset-file4').toggle();
  		$('.gif-file4').toggle();
	});
	
	$('img', '.gifs-rows5').hover(function() {
  		$('.preset-file5').toggle();
  		$('.gif-file5').toggle();
	});
	
	
	$('img', '.gifs-rows6').hover(function() {
  		$('.preset-file6').toggle();
  		$('.gif-file6').toggle();
	});
</script>