
	<div class="preloader"><span class="preloader-gif"></span></div>
		
		
   				<div class="center" style="padding-top: 150px;">
					<h1 class="glitch" data-text="How do you feel today?">How do you feel today?</h1>
					<div class="row">
						<div class="hidden">
							<%= link_to image_tag('dark-sun-clear.png'), homelight_url %>
							<%= link_to image_tag('light-sun-clear.png'), homedark_url %>
						</div>
					</div>
					&nbsp;
					<a href="/portfolio"><h1 class="glitch smaller" data-text="Portfolio">Portfolio</h1></a>
		    	</div>
		    	
	</div>
