<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
	<%= render 'shared/preloader' %>
		
		
   				<div class="center" style="padding-top: 25px;">
					<h2 class="glitch" data-text="How do you feel today?">How do you feel today?</h2>
					&nbsp;
					<div  class="row">
						<div class="hidden">
							<%= link_to image_tag('light-sun-clear.png'), homedark_url %>
							<%= link_to image_tag('dark-sun-clear.png'), homelight_url %>
						</div>
					</div>
					<a href="/portfolio"><h2 class="glitch smaller" data-text="Portfolio">Portfolio</h2></a>
		    	</div>
		    	
	</div>
</meta>