<% provide(:title, @user.name) %>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<div class="row">
    <div class="col-md-4">
        <section class="user_info">
            <h1>
                <%= @user.name %>, <%= @user.email %>
            </h1>
        </section>        
    </div>
</div>
</meta>