<div class="container-center">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
    <%= simple_form_for @post do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
    
        <div class="form-group">
            <%= f.input :title, class: "form-control" %>
        </div>
    
        <div class="form-group">
            <%= f.input :description, class: "form-control" %>
        </div>
    
        <div class="form-group">
            <% if @post.category_id? %>
                <%= select_tag(:category_id, options_for_select(@categories, :selected => @post.category_id)) %>
            <% else %>
                <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select one!") %>
            <% end %>
        </div>

        <div class="form-group">
            <%= f.input :body, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "form-control" %>
        </div>
    
        <div class="btn">
            <%= f.button :submit %>
        </div>
    <% end %>
    </div>
<div class="col-sm-2"></div>
</div>
