<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<h2>Create New Post</h2>
<% if logged_in? && current_user.admin? %> 
<%= render "posts/form" %>
<% else %>
<div class="center">
<h2><%= link_to "Log in to post", login_path %></h2>
</div>
<% end %>
</meta>