@import "bootstrap-sprockets";
@import "bootstrap";
@import 'jquery.fullpage';


/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$white: #ffffff;
$light-gray: #cfcfd1;
$dark-gray: #808080;
$dark-gray-darker: #212223;
$black: #000000;


/* Font Selection */
/*
font-family: 'Kirang Haerang', cursive;
font-family: 'Merienda', cursive;
font-family: 'Hanuman', serif;
font-family: 'Lobster', cursive;
font-family: 'Homemade Apple', cursive;
*/

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* universal */


body {
  padding-top: 0px;
  background-color: $black;
  background-size: auto 100%;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.li {
  text-align: center;
}

.dropdown-menu {
  text-align: center;
  background: $white;
}

ul {
  blog-headers {
    font-family: 'Anton', sans-serif;
  }
}

a {
  font-family: 'Homemade Apple', cursive !important;;
  color: $white !important;
  text-decoration: none !important;
}
/*
#home {
  background: url(ForChristian.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  }
  
#homephone {
  background: url(ForChristianPhone.jpg);
  background-repeat: no-repeat;
  }
*/

.container-center {
  text-align: center;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6, h7 {
  line-height: 1;
  font-family: 'Anton', sans-serif;
}

h1 {
  padding-bottom: 15px;
  font-family: 'Homemade Apple', cursive;
  color: $white;
  font-size: 3em;
  letter-spacing: -2px;
  u {
    text-decoration: underline;
  }
}

/* mobile h1(start page) */   
h2 {
  font-family: 'Homemade Apple', cursive;
  color: $white;
  font-size: 2em;
  letter-spacing: -1px;
  u {
    text-decoration: underline;
  }
}

.light-text {
 color: $dark-gray-darker !important;  
}

h3 {
  font-size: 2.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
  u {
    text-decoration: underline;
  }
}

h4 {
  padding-top: 10px;
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: center;
  font-weight: normal;
  color: $dark-gray-darker;
}

/* mobile h1(all pages) */
h5 {
  padding-bottom: 15px;
  font-family: 'Homemade Apple', cursive;
  color: $white;
  font-size: 4em;
  letter-spacing: -2px;
  u {
    text-decoration: underline;
  }
}

.menu-header {
  font-size: 2.0em;
  letter-spacing: -1px;
  margin-left: 15px;
  text-align: left;
  font-weight: normal;
  color: $black;
  font-family: 'Anton', sans-serif;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  blog-headers {
    font-family: 'Anton', sans-serif;
  }
}

#p-side {
  font-size: 1.1em;
  line-height: 1.7em;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
  &:hover {
    color: underline;
  }
}

/* header */
#headerbkg {
  background: url(headerbkg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

#phoneheaderbkg {
  background: url(phoneheaderbkg.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.navbar {

 }
 
#header-side-logo {
  margin-left: 10px;
  float: right;
  line-height: 1;
  font-size: 1.0em;
  letter-spacing: -1px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo {
  font-family: 'Anton', sans-serif;
  float: left;
  margin-left: 30px;
  margin-right: 10px;
  font-size: 4.0em;
  color: $black;
  text-transform: none;
  letter-spacing: 1.2px;
  padding-top: 9px;
  font-weight: heavy;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-two {
  font-family: 'Anton', sans-serif;
  float: left;
  margin-left: 18px;
  margin-right: 10px;
  font-size: 2.7em;
  color: $black;
  text-transform: none;
  letter-spacing: 1px;
  padding-top: 0px;
  font-weight: heavy;
  /* &:hover {
    color: #000000;
    text-decoration: none;
  } */
}

#logo-three {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo-three-phone {
  line-height: 1;
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $white;
}

#logo-four {
  margin-left: 100px;
  margin-right: 100px;
  line-height: 1;
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  //text-align: left;
  font-weight: normal;
  color: $black;
  &:hover {
    color: $dark-gray;
    text-decoration: none;
  }
}

#logo-four-phone {
  line-height: 1;
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $white;
}

.navbar-nav {
    display:inline-block;
    float:none;
}

.well{
background-color: $white !important;
}

.btn {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

.btn-danger {
  background-color: $white;
  color: $light-gray
}

.btn-primary {
  background-color: $white;
  color: $black;
  &:hover {
      color: $gray-darker;
  }
}

/* sidebar */

#sidebar {
  position: fixed;
  right:0;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* forms */

input, textarea, select, .uneditable-input {
  text-align: center;
  border: 1px solid #bbb;
  width: 50%;
  margin-bottom: 15px;
  @include box_sizing;
  border-radius: 5px;
}

input {
  height: auto !important;
  font-size: 16px !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


#section1 {
  z-index: 1;
  background-image: url("animated-light-bulb-gif.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100% !important;
}

#section1-light {
  z-index: 1;
  background-image: url("cloud-mountains.gif");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100% !important;
}

#slide1  {
  background-image: url("MovingEye.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#slide1-light  {
  background-image: url("cloud.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#slide2 {
  background-image: url("eyes.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#slide2-light {
  background-image: url("moving-water.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#slide3 {
  background-image: url("close-eye.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#slide3-light {
  background-image: url("moving-clouds.gif");
  background-size: cover;
  background-repeat: no-repeat;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px white;
    overflow: hidden;
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      border-radius: 50%;
      left: 0;
      bottom: 0;
      background-color: #fff;
      box-shadow: 0 0 1px #fff;
      transition: height 0.3s;
      
   }
}
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
     width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px white;
    
   &::after {
     height: 100%;
   }
}

.hidden {
     display: none;
}

.logo-main {
  color: $white;
  font-size: 3em;
  letter-spacing: -2px;
  transition: all 100ms linear;
  &:hover {
    letter-spacing: 3px;
  }
}

.logo-small {
  font-family: 'Lobster', cursive;
  color: $white;
  font-size: 1.5em;
  letter-spacing: -2px;
  display: inline-block;
  transition: all 100ms linear;
  &:hover {
    font-family: 'Merienda', cursive;
    letter-spacing: 3px;
  }
}

.logo-small-mobile {
  font-family: 'Lobster', cursive;
  color: $white;
  font-size: 2.5em;
  letter-spacing: -1px;
  display: inline-block;
  transition: all 100ms linear;
  &:hover {
    font-family: 'Merienda', cursive;
    letter-spacing: 3px;
  }
}

.logo-sides {
  font-family: 'Hanuman', serif;
  color: $white !important;
  font-size: 3em;
  letter-spacing: -2px;
  display: inline-block;
  padding-top: 50px;
  transition: all 100ms linear;
  &:hover {
    font-family: 'Merienda', cursive;
    letter-spacing: 3px;
  }
}

.logo-sides-mobile {
  font-family: 'Hanuman', serif;
  color: $white !important;
  font-size: 3.5em;
  letter-spacing: -2px;
  display: inline-block;
  padding-top: 50px;
}

.logo-mobile {
  color: $white !important;
  font-size: 3em;
  letter-spacing: -2px;
  display: inline-block;
  padding-top: 50px;
}

.section-left {
  left: 0;
  text-align: left;
  padding-left: 15px;
  padding-top: 50px;
}

.section-right {
  right: 0;
  text-align: right;
  padding-right: 15px;
  padding-top: 50px;
}

.bottom {
  vertical-align: text-bottom;
}


button {
  border-radius: 12px;
  #light_button {
    background: $black;
  }
  #dark_button {
    background: $white;
  }
}

.preloader{
    position: fixed;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    background: $black;
    z-index: 99999;
}
 
.preloader .preloader-gif{
    display: block;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    //margin: -70px 0 0 -170px;
    transform: translate(-50%, -50%);
    background: url('constellations-preloader.gif') no-repeat;   
}

.hidden {
  dispay: none;
}

.bottom-block {
  height: 100px;
}


/* glitch */

@mixin glitchCopy { 
		content: attr(data-text);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
}

.glitch {
	position: relative;
	color: $white;
	/* Animation provies a slight random skew. Check bottom of doc
	for more information on how to random skew. */
	animation: glitch-skew 1s infinite linear alternate-reverse;
	
	// Creates a copy before our text. 
	&::before{
		// Duplicates our text with the mixin.
		@include glitchCopy;
		// Scoots text slightly to the left for the color offset.
		left: 3px;
		// Creates the color 'shadow' that happens on the glitch.
		text-shadow: -2px 0 #4f0b43;
		/* Creates an initial clip for our glitch. This works in
		a typical top,right,bottom,left fashion and creates a mask
		to only show a certain part of the glitch at a time. */
		clip: rect(44px, 450px, 56px, 0);
		/* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
		with an alternating animation to keep things fresh. */
		animation: glitch-anim 5s infinite linear alternate-reverse;
	}
	
	// Creates a copy after our text. Note comments from ::before.
	&::after {
		@include glitchCopy;
		left: -3px;
		text-shadow: -2px 0 #00fff9, 2px 2px #4f0b43;
		animation: glitch-anim2 1s infinite linear alternate-reverse;
	}
}

/* Creates an animation with 20 steps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}


// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(100)+px, 9999px, random(100)+px, 0);
			transform: skew((random(100) / 100) + deg);
    }
  }
}


.pricing-box {
  background: $light-gray;
  width: 180px;
  height: 240px;
  border-radius: 25px;
  opacity: 0.8;
}

.pricing-box-mobile {
  margin:0 auto;
  background: $light-gray;
  width: 500px;
  height: 240px;
  border-radius: 25px;
  opacity: 0.8;
}

.zoom {
	transition: transform .2s;
	&:hover {
	transform: scale(1.6); 
	opacity: 1 !important;
  }
}

.zoomx2 {
	transition: transform .2s;
	&:hover {
	transform: scale(2); 
	opacity: 1 !important;
  }
}

.col-md-offset-1-and-half {
        margin-left: 12.5%;
}

.col-sm-3 {
  z-index: 3 !important;
}

.btn-primary {
  border-radius: 10px;
  background-color: $dark-gray-darker;
  &:hover {
    background-color: $dark-gray-darker !important;
    opacity: 0.8;
  }
}

.col-md-2 {
  z-index: 2 !important;
  &:hover {
    z-index: 9999 !important;
  }
}

.about-block {
  margin:0 auto;
  background: $light-gray;
  width: 400px;
  height: 240px;
  border-radius: 25px;
  opacity: 0.8;
  z-index: 10; 
}

.padding-box {
  padding-top: 25px;
  padding-bottom: 25px;
}

.mobile-text-xlg {
  font-size: 1.7em !important;
}

.mobile-text-lg {
  font-size: 1.2em !important;
}

.padding-mobile-bottom {
  padding-bottom: 5em;
}

.pricing-row {
  padding-top: 35px; 
}

.about-text-padding {
  margin-left: 5px;
  margin-right: 5px;
}

li {
  list-style: none;
}

.zoomed-in {
  transform: scale(1.7); 
}

.contact-mobile-padding {
  padding-top: 30px;
}

.smaller {
 font-size: 2em !important;
}

.portfolio-logo {
  padding-bottom: 5px;
  //font-family: 'Homemade Apple';
  color: $white;
  font-size: 1.7em;
  letter-spacing: 0px;
  u {
    text-decoration: underline;
  }
}

.portfolio-text {
  padding-bottom: 15px;
  font-family: 'Homemade Apple';
  color: $white;
  font-size: 2em;
  letter-spacing: -2px;
  text-decoration: underline;
}

.side-padding {
  padding-left: 10px;
  padding-right: 10px;
}

.portfolio-padding {
  padding-bottom: 35px;
}

.portfolio-box {
  border-radius: 3px;
  height: 200px;
  width: 300px;
}

.gif-file {
  display:none;
}

.gif-file2 {
  display:none;
}

.gif-file3 {
  display:none;
}

.gif-file4 {
  display:none;
}

.gif-file5 {
  display:none;
}

.gif-file6 {
  display:none;
}