<p id="notice"><%= notice %></p>

<%= will_paginate %>
<h1>
  <u>Categories</u>
</h1>
<br />
    <div class="center">
      <% @categories.each do |category| %>
        <h3>
          <%= link_to "#{category.name}", category_path(category) %>
        </h3>
        <h6><%= pluralize(category.posts.count, 'post') %></h6>
        <br />
    <% end %>
<br />
<%= will_paginate %>

