<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
      <%= favicon_link_tag 'sun-favicon.png' %>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
      
      
  </head>
    <body>
      <%= render 'layouts/application_layout' %>
      
      
	  
      
    </body>
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Kirang+Haerang|Lobster|Merienda" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hanuman" rel="stylesheet">
</html>
