<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    	<%= favicon_link_tag 'sun-favicon.png' %>
      <%= render 'layouts/rails_default' %>
      <%= render 'layouts/shim' %>
  </head>
    <body>
    <%= render 'layouts/application_layout' %>
    
    
    <script type="text/javascript">
	      
	      $(document).ready(function() {
	        $('#fullpage').fullpage({
	         anchors:['firstPage', 'secondPage'],
	          navigation: false,
	          navigationPosition: 'right',
		        controlArrows: false,
		        lazyLoading: true,
		        continuousVertical: true,
		        scrollBar: false,
		        autoScrolling: true,
		        scrollingSpeed: 500,
		        menu: true
	        });

	
        });
        
	     
	    </script>
	    
	  <link href="https://fonts.googleapis.com/css?family=Homemade+Apple|Kirang+Haerang|Lobster|Merienda" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
</body>
</html>
